.container {
	// this defines what 1rem is
	font-size: 62.5%; // 1rem is 10px ; 10px/16px = 62.5%
	@include respond(tab-land) {
		//width<1200?
		font-size: 56.25%; //1rem = 9px , 9/16 = 56.25%;
	}
	@include respond(tab-port) {
		//width<900?
		font-size: 50%; //1rem = 8px , 8/16 = 50%;
	}
	@include respond(phone) {
		//width<600?
		font-size: 56%; //1rem = 4px , 4/16 = 40%;
	}
	@include respond(big-desktop) {
		//width<1800?
		font-size: 75%; // 1rem = 12, 12/16 = 75%
	}
}
.box {
	background: linear-gradient(#f8f8f8, #fff);
	box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
}
.line-up {
	display: flex;
	align-items: center;
}
input {
	font-family: "Roboto";
	border-radius: 0.25rem;
	color: rgba(#262626, 0.6);
	border: 1px solid #ced4da;
}

.sign {
	width: 1rem;
	border: 1px dashed #262626;
	border-radius: 0.1rem;
	text-align: center;
	padding: 0.1rem;
	margin: 0 0.5rem;
}

@mixin sign($name, $marginBottom, $color) {
	.#{$name} {
		border-width: 0.09rem;
		font-size: 1rem;
		cursor: pointer;
		border-color: map-get($sign-color, $color);
		color: map-get($sign-color, $color);
		@if $marginBottom {
			margin-bottom: 0.2rem;
		}
	}
}
%button {
	border: 1px solid rgba(#262626, 0.5);
	border-radius: 0.2rem;
	padding: 0.2rem 0.5rem;
	cursor: pointer;
	font-family: "Muli";
}

.selectMethod {
	// width: 70%;
	flex-grow: 1;
	border: 1px solid #ccc;
	outline: none;
	padding: 0.3rem 0;
	border-radius: 5px;
}

@mixin simple_header {
	& > .container_defType {
		flex: 1 0 auto;
		align-self: center;
		justify-content: space-between;
		@extend .line-up;
		& > .defType {
			@extend .selectMethod;
			flex: 0.99;
			cursor: pointer;
			@include respond("phone") {
				width: 85%;
			}
		}
		@include respond("phone") {
			width: 100%;
			justify-content: space-around;
			margin-bottom: 0.3rem;
		}
	}
	& > .container_face {
		padding: 0 0.5rem;
		@extend .line-up;
		& > label {
			margin-right: 0.2rem;
		}
		& > button {
			@extend %button;
			font-size: 0.7rem;
			&.front {
				border-right: 0;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&.back {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
		@include respond("phone") {
			margin-left: 0.2rem;
			flex-grow: 1;
		}
	}
	& > .container_pos {
		@extend .line-up;
		& > label {
			margin-right: 0.2rem;
		}
		& > button {
			font-size: 0.7rem;
			@extend %button;
			&.left {
				border-right: 0;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&.center {
				border-radius: 0;
			}
			&.right {
				border-left: 0;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
		@include respond("phone") {
			margin-right: 0.21rem;
		}
	}
}

@mixin simple_content {
	& > .content-textarea {
		padding-left: 10px;
		min-height: 2rem;
		max-height: 15rem;
		width: 90%;
		border-radius: 3px;
		outline: 2px dashed #ccc;
		border: none;
		resize: vertical;
		color: rgb(95, 95, 95);
		font-family: "Roboto";
		font-size: 0.9rem;
		margin-bottom: 0.4rem;
		@include respond("phone") {
			margin-bottom: 0rem;
		}
	}
	& > .content__sign {
		display: flex;
		flex-direction: column;
		align-self: center;
		@include sign("plus", true, "success");
		@include sign("minus", false, "danger");
	}
}
